
.ovc{
	border-radius: 16.77px;
background: #111;
padding: 1rem 22px;
}

.ov{
	display: flex;
	width:100%;
	gap:3px;
}
.ovsprd{
    /*
	display: flex;
	justify-content:flex-end;*/
	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-content: flex-end;
	justify-items: center;
	margin: 1rem 0rem;
	margin-bottom:1.5rem;
}
.baro{
	height:19px;
}
.ovcon{
	/*width: 77px;*/ height: 17px; padding-left: 1px; padding-right: 1px; justify-content: flex-start; align-items: center; gap: 6.67px; display: inline-flex
}

.ovtitle{
	color: white; font-size: 10px; font-family: Public Sans; font-weight: 500; line-height: 16.67px; word-wrap: break-word;margin-top:5px;
}
.ovperc{
	 height: 8px; color: #8B8B8B; font-size: 7.54px; font-family: Inter; font-weight: 400; word-wrap: break-word;
}